<div class="soundbox-sound-list">
    <button type="button" *ngFor="let sound of soundbox.sounds | async" (click)="play(sound)" (contextmenu)="showSoundContextMenu(sound, $event)">{{sound.name}}</button>
</div>
<div *ngIf="contextMenuActive">
    <div class="soundbox-sound-context" [style.top.px]="contextMenuY" [style.left.px]="contextMenuX">
        <div (click)="startEdit(contextMenuSound); hideSoundContextMenu();">
            Edit
        </div>
        <div (click)="delete(contextMenuSound); hideSoundContextMenu();">
            Delete
        </div>
    </div>
    <div class="soundbox-sound-context-backdrop" (pointerdown)="hideSoundContextMenu()"></div>
</div>
<div>
    Pitch:
    <input type="range" min="50" max="300" [(ngModel)]="pitch" />
    {{pitch}}
</div>
<div>
    <button type="button" (click)="soundbox.stop()">Stop</button>
</div>
<div>
    Volume: {{soundbox.volume | async}}
    <button type="button" (click)="volumeIncrement()">+</button>
    <button type="button" (click)="volumeDecrement()">-</button>
</div>
<div>
    Playback:
    <div *ngFor="let playback of soundbox.playingNow | async">{{playback.sound.name}}</div>
</div>
<div>
    Upload:
    <div>
        <input type="file" accept="audio/*" multiple (change)="onFilesSelected($event.target.files)" />
    </div>
    <div *ngIf="uploadStatusCurrent">
        <div>
            Current: <progress [value]="(uploadStatusCurrent.progress | async).done" [max]="(uploadStatusCurrent.progress | async).total"></progress>
        </div>
        <div>
            Total: <progress [value]="uploadProgressTotal?.done" [max]="uploadProgressTotal?.total"></progress>
        </div>
    </div>
    <table *ngIf="newSoundsPending.length">
        <tr>
            <th>File name</th>
            <th>Sound name</th>
            <th>Speech: trigger (separate with ; )</th>
            <th>Speech: special words (separate with ; )</th>
            <th>
                <button type="button" (click)="uploadAll()" [disabled]="uploadsInProgress > 0">Upload All</button>
            </th>
        </tr>
        <tr *ngFor="let sound of newSoundsPending">
            <td>
                {{sound.fileName}}
            </td>
            <td>
                <input type="text" [(ngModel)]="sound.name" class="soundbox-edit-name" />
            </td>
            <td>
                <input type="text" [(ngModel)]="sound.speechTriggers" class="soundbox-edit-speech-triggers" />
            </td>
            <td>
                <input type="text" [(ngModel)]="sound.speechPhrases" />
            </td>
            <td>
                <button type="button" (click)="upload(sound)" [disabled]="uploadsInProgress > 0">Upload</button>
            </td>
        </tr>
    </table>
</div>
<button type="button" (click)="startEditAll()">Edit all sounds</button>
<div *ngIf="editSounds.length">
    Edit:
    <table>
        <tr>
            <th>Sound name</th>
            <th>Speech: trigger (separate with ; )</th>
            <th>Speech: special words (separate with ; )</th>
        </tr>
        <tr *ngFor="let sound of editSounds">
            <td>
                <input type="text" [(ngModel)]="sound.name" class="soundbox-edit-name" />
            </td>
            <td>
                <input type="text" [(ngModel)]="sound.speechTriggers" class="soundbox-edit-speech-triggers" />
            </td>
            <td>
                <input type="text" [(ngModel)]="sound.speechPhrases" />
            </td>
            <td>
                <button type="button" (click)="edit(sound)">Done</button>
            </td>
            <td>
                <button type="button" (click)="stopEdit(sound)">Cancel</button>
            </td>
        </tr>
    </table>
    Test speech recognition:
    <div>
        <button type="button" (click)="recordSpeechRecognitionTestAudio()" [disabled]="speechRecognitionRecordingRunning || speechRecognitionRecordingPending">⏺ Record your microphone</button>
        <button type="button" (click)="stopSpeechRecognitionTestAudioRecording()" [disabled]="!speechRecognitionRecordingRunning">⏹</button>
        <button type="button" (click)="uploadSpeechRecognitionTestAudio()" [disabled]="!speechRecognitionRecordedAudio">Upload recorded audio</button>
        <audio *ngIf="speechRecognitionRecordedAudioSrc" [src]="sanitizer.bypassSecurityTrustResourceUrl(speechRecognitionRecordedAudioSrc)" controls></audio>
    </div>
</div>