<div class="soundbox-sound-list">
    <button type="button" *ngFor="let sound of soundbox.sounds | async" (click)="play(sound)" (contextmenu)="showSoundContextMenu(sound, $event)">{{sound.name}}</button>
</div>
<div *ngIf="contextMenuActive">
    <div class="soundbox-sound-context" [style.top.px]="contextMenuY" [style.left.px]="contextMenuX">
        <div (click)="startEdit(contextMenuSound); hideSoundContextMenu();">
            Edit
        </div>
        <div (click)="delete(contextMenuSound); hideSoundContextMenu();">
            Delete
        </div>
    </div>
    <div class="soundbox-sound-context-backdrop" (pointerdown)="hideSoundContextMenu()"></div>
</div>
<div>
    Pitch:
    <input type="range" min="50" max="300" [(ngModel)]="pitch" />
    {{pitch}}
    <button type="button" (click)="pitch=100">100</button>
</div>
<div>
    <button type="button" (click)="soundbox.stop()">Stop</button>
</div>
<div>
    Volume: {{soundbox.volume | async}}
    <button type="button" (click)="volumeIncrement()">+</button>
    <button type="button" (click)="volumeDecrement()">-</button>
</div>
<div>
    Playback:
    <div *ngFor="let playback of soundbox.playingNow | async">{{playback.sound.name}}</div>
</div>
<div *ngIf="(editSounds.length || newSoundsPending.length) && speechRecognitionrecordingPossible" class="soundbox-section-edit">
    <span>Test speech recognition:</span>
    <div class="soundbox-section">
        <div class="soundbox-controls">
            <button type="button" (click)="recordSpeechRecognitionTestAudio()" [disabled]="speechRecognitionRecordingRunning || speechRecognitionRecordingPending">⏺ Record your microphone</button>
            <button type="button" (click)="stopSpeechRecognitionTestAudioRecording()" [disabled]="!speechRecognitionRecordingRunning">⏹</button>
            <button type="button" (click)="uploadSpeechRecognitionTestAudio()" [disabled]="!speechRecognitionRecordedAudio || speechRecognitionShow">Upload recorded audio</button>
        </div>
        <audio *ngIf="speechRecognitionRecordedAudioSrc" [src]="sanitizer.bypassSecurityTrustResourceUrl(speechRecognitionRecordedAudioSrc)" controls></audio>
    </div>
</div>
<div class="soundbox-section-edit">
    <span>Upload:</span>
    <div>
        <input type="file" accept="audio/*" multiple (change)="onFilesSelected($event.target.files)" />
    </div>
    <div *ngIf="uploadStatusCurrent">
        <div>
            Current: <progress [value]="(uploadStatusCurrent.progress | async).done" [max]="(uploadStatusCurrent.progress | async).total"></progress>
        </div>
        <div>
            Total: <progress [value]="uploadProgressTotal?.done" [max]="uploadProgressTotal?.total"></progress>
        </div>
    </div>
    <table *ngIf="newSoundsPending.length">
        <tr>
            <th>File name</th>
            <th>Sound name</th>
            <th>Speech: trigger (separate with ; )</th>
            <th>Speech: special words (separate with ; )</th>
            <th>
                <button type="button" (click)="uploadAll()" [disabled]="uploadsInProgress > 0">Upload All</button>
            </th>
        </tr>
        <tr *ngFor="let sound of newSoundsPending">
            <td>
                {{sound.fileName}}
            </td>
            <td>
                <input type="text" [(ngModel)]="sound.name" class="soundbox-edit-name" />
            </td>
            <td>
                <input type="text" [(ngModel)]="sound.speechTriggers" class="soundbox-edit-speech-triggers" />
            </td>
            <td>
                <input type="text" [(ngModel)]="sound.speechPhrases" />
            </td>
            <td>
                <button type="button" (click)="upload(sound)" [disabled]="uploadsInProgress > 0">Upload</button>
            </td>
        </tr>
    </table>
</div>
<div class="soundbox-section">
    <button type="button" (click)="startEditAll()">Edit all sounds</button>
    <div *ngIf="editSounds.length" class="soundbox-section-edit">
        <span>Edit:</span>
        <table>
            <tr>
                <th>Sound name</th>
                <th>Speech: trigger (separate with ; )</th>
                <th>Speech: special words (separate with ; )</th>
            </tr>
            <tr *ngFor="let sound of editSounds">
                <td>
                    <input type="text" [(ngModel)]="sound.name" class="soundbox-edit-name" />
                </td>
                <td>
                    <input type="text" [(ngModel)]="sound.speechTriggers" class="soundbox-edit-speech-triggers" />
                </td>
                <td>
                    <input type="text" [(ngModel)]="sound.speechPhrases" />
                </td>
                <td>
                    <button type="button" (click)="edit(sound)">Save</button>
                </td>
                <td>
                    <button type="button" (click)="stopEdit(sound)">Cancel</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div *ngIf="speechRecognitionShow" class="soundbox-dialog-backdrop">
    <div class="soundbox-dialog-full">
        <button type="button" class="soundbox-dialog-close" (click)="speechRecognitionShow = false">❌</button>
        <div class="soundbox-speech-test-status">
            <span *ngIf="speechRecognitionRunning">Test is running...</span>
            <span *ngIf="!speechRecognitionRunning && speechRecognitionError">❗</span>
            <span *ngIf="!speechRecognitionRunning && !speechRecognitionError">✔</span>
        </div>
        <div class="soundbox-speech-test">
            <table>
                <tr>
                    <th>
                        Spoken text
                    </th>
                    <th>
                        Recognized sound name
                    </th>
                </tr>
                <tr *ngFor="let event of speechRecognitionResults">
                    <td>
                        <span *ngFor="let word of event.words" [class.soundbox-speech-test-word-success]="word.recognized">
                            {{ word.text }}
                        </span>
                    </td>
                    <td>
                        {{ event.recognized }}
                    </td>
                </tr>
            </table>
            <span *ngIf="speechRecognitionError" class="soundbox-speech-test-error">
                An error occurred: {{ speechRecognitionError }}
            </span>
        </div>
    </div>
</div>